<div id="buy-using-bitcoin" class="modal">
	<div class="modal-vertical">
		<div class="modal-container">
			<div class="modal-box">
			<div id="buy-preloader">
				<div class="spinner">
					<div class="bounce1"></div>
					<div class="bounce2"></div>
					<div class="bounce3"></div>
				</div>
			</div>
				<div id="quotation-modal-header">
					<div class="close-modal-button">
						<i class="fas fa-times"></i>
					</div>
				</div>
				<div id="buy-package-main" class="buy-container">
					<div class="buy-body">
						<p class="quotation-title">Place order</p>
						 <p class="quotation-short-desc quotation-short-desc-first">You can place an order for our package directly on our website. Just fill in your details, and select BTC or ETH that you want to pay in.</p>
						<div class="buy-row">
							<div class="buy-col">
								<div>
									<input id="package-project-name" class="package-field" type="text" placeholder="Project name">
									<label data-label="Project name">Project Name <i class="fas fa-asterisk imp"></i></label>
								</div>
							</div>
							<div class="buy-col">
								<div>
									<input id="package-token-symbol" class="package-field" type="text" class="token-symbol" placeholder="Token symbol">
									<label data-label="Project name">Token Symbol <i class="fas fa-asterisk imp"></i></label>
								</div>
							</div>
							<div class="buy-col">
								<div>
									<input id="package-project-website" class="package-field" type="text" class="project-website" placeholder="Website URL">
									<label data-label="Project name">Project Website <i class="fas fa-asterisk imp"></i></label>
								</div>
							</div>
							<div class="buy-col">
								<div>
									<input id="package-telegram-username" class="package-field" type="text" placeholder="Telegram username">
									<label data-label="Project name">Telegram Contact <i class="fas fa-asterisk imp"></i></label>
								</div>
							</div>
						</div>
						<p class="quotation-short-desc">Please provide the Usernames and URLs of the social profiles as are needed for the promotion of the profiles. Please fill the fields as suggested in the fields. Additional required information will be collected on Telegram Chat.</p>
						<p class="quotation-note">Write none if profile does not currently exists. The time for the delivery of such service will start on time as decided on chat.</p>
						<div class="buy-row">
							<div class="buy-col">
								<div>
									<input id="package-facebook" class="package-field" type="text" placeholder="https://www.facebook.com/xxxx">
									<label data-label="Project name">Facebook URL <i class="fas fa-asterisk imp"></i></label>
								</div>
							</div>
							<div class="buy-col">
								<div>
									<input id="package-twitter" class="package-field" type="text" placeholder="https://twitter.com/xxxx">
									<label data-label="Project name">Twitter Handle <i class="fas fa-asterisk imp"></i></label>
								</div>
							</div>
							<div class="buy-col">
								<div>
									<input id="package-telegram" class="package-field" type="text" placeholder="https://t.me/xxxx">
									<label data-label="Project name">Telegram Group Username <i class="fas fa-asterisk imp"></i></label>
								</div>
							</div>
							<div class="buy-col">
								<div>
									<input id="package-linkedin" class="package-field" type="text" placeholder="https://linkedin.com/in/xxxx">
									<label data-label="Project name">Linkedin Public URL <i class="fas fa-asterisk imp"></i></label>
								</div>
							</div>
							<div class="buy-col">
								<div>
									<input id="package-reddit" class="package-field" type="text" placeholder="https://www.reddit.com/r/xxxx">
									<label data-label="Project name">Reddit Username <i class="fas fa-asterisk imp"></i></label>
								</div>
							</div>
							<div class="buy-col">
								<div>
									<input id="package-youtube" class="package-field" type="text" placeholder="https://youtube.com/channel/xxxx">
									<label data-label="Project name">Youtube Channel URL <i class="fas fa-asterisk imp"></i></label>
								</div>
							</div>
						</div>
						<p class="quotation-short-desc">Our package will complete all the basic and essential needs for your ICO. The delivery of the services will start within 12 hours of payment.</p>
						<p id="package-submit-error">Please fill all the fields before submitting</p>
						<div class="buy-curr-options">
							<div class="buy-curr-option">
								<p id="buy-bitcoin">Pay now</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="buy-package-box">
	<div id="buy-package-vertical">
		<div id="buy-package-container">
			<div id="buy-package-b">
				<p class="buy-package-title">Make payment</p>
				<p class="buy-package-content" id="buy-package-success"></p>
				<p class="buy-package-content">You can buy our package with Bitcoin or Ether. The price for our package is 1 BTC. You can pay 1 BTC or equivalent ETH.</p>
				<p class="buy-package-content">Please select the payment currency.</p>
				<p id="buy-btc"><i class="fab fa-bitcoin"></i> Pay with Bitcoin</p>
				<p id="buy-eth"><i class="fab fa-ethereum"></i> Pay with Ethers</p>
				<p id="cancel-package-payment"><i class="fas fa-ban"></i> Cancel Payment</p>
			</div>
		</div>
	</div>
</div>
<div id="buy-box">
	<div id="buy-box-v">
		<div id="buy-box-c">
			<div id="buy-box-b">
				
			</div>
		</div>
	</div>
</div>