{% extends 'base.html' %}

{% block title %}CryptoPR - Fastest Press Release and best in class marketing services for your ICO{% endblock %}

{% block description %}Crypto Press is an ICO Marketing Company that widens your scope & credibility in the market by offering the best in class ICO Marketing Services with targeted ICO campaigns.{% endblock %}

{% load static %}
{% block content %}
<div id="content">
	<div id="banner-section">
		<div id="banner-particles"></div>
		<div id="banner-vertical">
			<div id="banner-container" class="container">
				<div id="banner-left">
					<p class="banner-heading">Best ICO marketing Agency</p>
					<p class="banner-text">Crypto Press is an ICO Marketing Company that widens your scope & credibility in the market by offering the best in class ICO Marketing Services with targeted ICO campaigns.</p>
					<p class="banner-text">We tap the right market by incorporating & customizing strategies that include SEO, Email advertising, PPC, Social Media, and more. ICO Marketing not only deals with Lead Generation but also focusses on investors’ conversion & retention.</p>
					<div id="open-place-modal">
						<a id="open-place-order-modal" href="#place-order">Place an order</a>
					</div>
				</div>
				<div id="banner-right">
					<div id="banner-image">
						<img src="{% static 'images/megaphone.png' %}">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="o-sections">
	<div id="features-section">
		<div class="container">
			<p class="section-title">Services</p>
			<div class="features-box">
				<div class="container">
					<div class="features-text">
						<p>The market for virtual currencies and ICOs is thundering ahead every day. Every year, market is getting heavily clustered with numerous ICO launches. Since every ICO shows great potential, a mere regular marketing strategy is not enough. A cutting-edge marketing plan that is well strategized is required to get desired results. Crypto Press the leading Crypto Marketing Agency. Our specialized ICO Marketing services are designed keeping in mind the latest market trend, coupled with up to date technologies and an expert marketing team dedicated to launching and promoting your ICO successfully.</p>
					</div>
				</div>
				<div class="features">
					<div class="container fl-container">
						<div class="features-row">
							<div class="feature">
								<div class="feature-box card">
									<div class="feature-icon">
										<img src="{% static 'images/message.png' %}">
									</div>
									<div class="feature-description">
										<p>Interact and start communication with new and interested audience</p>
									</div>
								</div>
							</div>
							<div class="feature">
								<div class="feature-box card">
									<div class="feature-icon">
										<img src="{% static 'images/box.png' %}">
									</div>
									<div class="feature-description">
										<p>Our box of services is enough to spread your words internationally</p>
									</div>
								</div>
							</div>
							<div class="feature">
								<div class="feature-box card">
									<div class="feature-icon">
										<img src="{% static 'images/newspaper.png' %}">
									</div>
									<div class="feature-description">
										<p>Press Release on top news websites to reach out target audience</p>
									</div>
								</div>
							</div>
							<div class="feature">
								<div class="feature-box card">
									<div class="feature-icon">
										<img src="{% static 'images/calendar.png' %}">
									</div>
									<div class="feature-description">
										<p>Proper planning and making strategies is most important for you</p>
									</div>
								</div>
							</div>
							<div class="feature">
								<div class="feature-box card">
									<div class="feature-icon">
										<img src="{% static 'images/camera.png' %}">
									</div>
									<div class="feature-description">
										<p>We create graphical and pictorial representations to represent you</p>
									</div>
								</div>
							</div>
							<div class="feature">
								<div class="feature-box card">
									<div class="feature-icon">
										<img src="{% static 'images/diamond.png' %}">
									</div>
									<div class="feature-description">
										<p>Shine like a diamond among your present and future audience</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="steps-section">
		<div class="container">
			<div id="bb"><div id="sb"></div></div>
			<div id="ba">
				<div id="ba-arrow"></div>
			</div>
			<div class="steps">
				<div class="step">
					<div class="step-box">
						<div class="step-title">
							<p>Technology</p>
						</div>
						<div class="step-text">
							<p>The absolute key is selecting the right blockchain. While there are no regulations yet, there have been several lessons others have learned to sell your tokens quickly and securely, protecting those who invest in your Initial Coin Offering.</p>
						</div>
					</div>
				</div>
				<div class="step">
					<div class="step-box selected">
						<div class="step-title">
							<p>Marketing</p>
						</div>
						<div class="step-text">
							<p>Crypto Press is a pioneering ICO marketing agency, offering targetted and well planned marketing strategies, that will help you acheive your marketing goals. Our strategies are designed to obtain desired traction and widen the reach.</p>
						</div>
					</div>
					<div class="bottom-dot"></div>
					<div class="dialog">
						<div class="dialog-content">
							<p>This is where Crypto Press comes in. We take complete charge of marketing of your ICO on almost all social networking websites, attracting investors to invest in your ICO.</p>
						</div>
					</div>
				</div>
				<div class="step">
					<div class="step-box">
						<div class="step-title">
							<p>Legal</p>
						</div>
						<div class="step-text">
							<p>Some jurisdiction’s frameworks may seem very flexible and work well for traditional industries, but this might not be the case for disruptive projects involving cryptocurrencies. There are several organizations working in the blockchain space to clarify the uncertainties.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="services-section">
		<div class="container">
			<div class="services-row">
				<div class="services">
					<div class="service">
						<div class="service-box card">
							<div class="service-icon">
								<img src="{% static 'images/email.png' %}">
							</div>
							<div class="service-content">
								<p class="service-title">Raise funds</p>
								<p class="service-text">Our services are focussed to get you desired reach to the audience that might be interested in investing. With a good product and our services you can raise what you have aimed for.</p>
							</div>
						</div>
					</div>
					<div class="service">
						<div class="service-box card">
							<div class="service-icon">
								<img src="{% static 'images/web.png' %}">
							</div>
							<div class="service-content">
								<p class="service-title">Paid Campaigns</p>
								<p class="service-text">Get paid campaigns on various Crypto related websites, other ad platforms to increase the traffic and conversion on your website. We offer the best prices for banner ads, sponsored articles, and many other services.</p>
							</div>
						</div>
					</div>
					<div class="service">
						<div class="service-box card">
							<div class="service-icon">
								<img src="{% static 'images/package.png' %}">
							</div>
							<div class="service-content">
								<p class="service-title">Get Visibility</p>
								<p class="service-text">With over 300 Websites having more than a million traffic and over 1500 websites that publish our stories in 30 different languages, you can get the reach you have always wanted for yourself</p>
							</div>
						</div>
					</div>
					<div class="service">
						<div class="service-box card">
							<div class="service-icon">
								<img src="{% static 'images/diamond.png' %}">
							</div>
							<div class="service-content">
								<p class="service-title">Customised Solution</p>
								<p class="service-text">We at Crypto Press work with you throughout your journey. We understand your product, research and find a customised solution for you. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="numbers-section">
		<div class="container card">
			<div class="numbers-image">
				<div class="numbers-content">
					<div class="numbers-desc">
						<p>Total PR outreach</p>
						<p>2 Million</p>
					</div>
					<div class="numbers-desc">
						<p>Social Media outreach</p>
						<p>1.5 - 2 Million</p>
					</div>
					<div class="numbers-desc">
						<p>Other ourreach</p>
						<p>2 Million</p>
					</div>
				</div>
			</div>
			<div class="numbers-bk">
				<p class="numbers-title">Services we provide</p>
				<div class="tags">
					<div class="tags-col">
						<div class="tag">
							<p>Website Search Engine Optimization</p>
						</div>
						<div class="tag">
							<p>Discussion on thread on BitcoinTalk</p>
						</div>
						<div class="tag">
							<p>Press Release broadcast on 1800+ websites</p>
						</div>
						<div class="tag">
							<p>Content planning and creation</p>
						</div>
						<div class="tag">
							<p>ICO listing on review websites</p>
						</div>
						<div class="tag">
							<p>Premium publication news websites websites</p>
						</div>
						<div class="tag">
							<p>Paid publication on 3 news websites</p>
						</div>
						<div class="tag">
							<p>Publication on 8+ crypto news websites</p>
						</div>
						<div class="tag">
							<p>Promotion in Facebook and Twitter</p>
						</div>
						<div class="tag">
							<p>Posts in crypto related telegram groups</p>
						</div>
					</div>
					<div class="tags-col">
						<div class="tag">
							<p>Reddit trending article for your ICO</p>
						</div>
						<div class="tag">
							<p>Twitter engagement with 7k followers</p>
						</div>
						<div class="tag">
							<p>Facebook traction 150k outreach and 10k followers</p>
						</div>
						<div class="tag">
							<p>10k+ marketing with guaranteed views on Youtube</p>
						</div>
						<div class="tag">
							<p>Telegram group promotion to crypto audience</p>
						</div>
						<div class="tag">
							<p>Promotion in Facebook, Twitter & Telegram groups</p>
						</div>
						<div class="tag">
							<p>Professional reviews on ICO listing websites</p>
						</div>
						<div class="tag">
							<p>Real time tracking for all campaigns</p>
						</div>
						<div class="tag">
							<p>Professional reviews on ICO listing websites</p>
						</div>
						<div class="tag">
							<p>Real time tracking for all campaigns</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="our-package-section">
		<div class="container">
			<div class="package-description card">
				<p class="section-title">Our package</p>
				<p class="package-text">We have curated and prepared a package that is beneficial and profitable for most of the ICOs, whatever stage the ICO is currently in - Private sale, Public sale or in Post ICO. Our package has all the essential services for the Initial Coin Offerings including Press Release, Marketing on social networking websites, discussions on Bitcoin Talk, etc. All our valuable service are included in the package. We will also help you plan the perfect timings for the press releases, social media marketing posts, etc. </p>
				<div class="package-download-button">
					<a href="#">Download brochure</a>
					<a href="#">Buy package</a>
				</div>
			</div>
		</div>
	</div>
<div id="submitted-form">
	<div id="submitted-form-vertical">
		<div id="submitted-form-container">
			<div id="submitted-form-header">
				<div id="close-quotation-success">
					<i class="fas fa-times"></i>
				</div>
				<p>Order placed</p>
			</div>
			<div id="submitted-form-content">
				<p>Thanks for placing an order on our website. We will get back to you soon</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
